.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2b1772;
}
.title{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.botonera{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
}
.juano{
   width: 200px;
   height: 150px;
}

button{
    margin-inline: 20px;
}

.burguesa{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: end;
}
.car{
    margin-top: 99px;
}
h1{
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: white;
}
.carrusel{
    margin: 25px;
    padding-left: 99px;
    position: relative;
    width: 90%;
    height: 10%;
}
.carrusel.portada{
    width: auto;
}
.juegos{
    display: flexbox;
    width: 15%;
}
.juego{
    display: flex;
    height: 10%;
}

.portada{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.juegos:hover{
    transform: scale(1.09);
    filter: blur(2px);

}
body{
    background-color: #1F1250;
}
footer{
    padding: 60px;
    background-color: #120B2A;
    margin: 0%;
}
.redes{
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
button{
    box-sizing: content-box;
}
.insta{
    background-color: pink;
}