.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2b1772;
}
.title{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.botonera{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
}
.juano{
    width: 99px;
    height: 99px;
}

button{
    margin-inline: 20px;
}
h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.burguesa{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: end;
}
.car{
    margin-top: 99px;
}
.buy:hover{
    display: none;
}

.carrusel{
    position: absolute;
    width: 90%;
    height: 10%;
}
.carrusel.portada{
    width: auto;
}
.juegos{
    display: flex;
    width: 15%;
}
.juego{
    height: 10%;
}

.portada{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    left: 15px;
    top: 0px;
}
.juegos:hover{
    transform: scale(1.09);
    filter: blur(2px);

}
body{
    background-color: #1F1250;
}